img {
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}
.tolik{
  width: 600px;
  padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.item-tolik{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.my-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;}
  .my-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }
  .my-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
  }
  .my-dots li button:hover,
  .my-dots li button:focus {
    outline: none;
  }
  
  .my-dots li button:hover:before,
  .my-dots li button:focus:before {
    opacity: 1;
  }
  
  .my-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 1px red;
    text-shadow: 1px 1px 0 #f00, 
    -1px -1px 0 #f00, 1px -1px 0 #f00, -1px 1px 0 #f00, 1px 1px 0 #f00; 
  }
  .my-dots li.slick-active button:before {
    opacity: .75;
    color: black;
  }
  .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color:#000;
    -webkit-font-smoothing: antialiased;}
  .slick-prev:before{    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color:#000;
    -webkit-font-smoothing: antialiased;}
    

