img {
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.wrapper {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 35px;
    line-height: 1;
    opacity: .75;
    color: tomato;